{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 class="font-weight-bold text-center">Архитектор</h1>
  </div>
</div>
<hr />
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <p class="text-center text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Vitae tempus quam pellentesque nec nam aliquam. Hac habitasse 
        platea dictumst vestibulum rhoncus est pellentesque. Metus vulputate eu scelerisque felis 
        imperdiet proin fermentum leo. Massa sed elementum tempus egestas sed sed. Fusce id velit ut 
        tortor pretium viverra suspendisse potenti nullam. Neque convallis a cras semper auctor neque 
        vitae. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Quisque id diam vel quam 
        elementum pulvinar etiam non quam. Magna sit amet purus gravida.</p>
    <p class="text-center text-muted mb-5">Ac tincidunt vitae semper quis lectus nulla at. Sit amet consectetur adipiscing elit ut 
        aliquam. Eget nunc scelerisque viverra mauris in. Nisl condimentum id venenatis a. Fames ac 
        turpis egestas integer eget. Enim nunc faucibus a pellentesque. Viverra suspendisse potenti 
        nullam ac tortor vitae. Libero nunc consequat interdum varius sit amet. Eget nullam non nisi 
        est sit amet facilisis magna etiam. Convallis a cras semper auctor. Consequat mauris nunc 
        congue nisi vitae suscipit tellus mauris a. Facilisis gravida neque convallis a cras semper. 
        Vitae nunc sed velit dignissim sodales ut eu sem.</p>
    <p class="text-center text-muted mb-5">Laoreet id donec ultrices tincidunt arcu non. Lectus arcu bibendum at varius vel pharetra vel. 
        Urna nec tincidunt praesent semper feugiat. Scelerisque felis imperdiet proin fermentum leo 
        vel. Ultrices gravida dictum fusce ut. Dictumst vestibulum rhoncus est pellentesque elit. 
        Blandit turpis cursus in hac habitasse platea dictumst quisque. Nunc scelerisque viverra 
        mauris in aliquam sem. Molestie a iaculis at erat pellentesque adipiscing commodo. Pretium 
        quam vulputate dignissim suspendisse in est ante.</p>
    </div>
    <div class="col">
      <p><img src="{% static 'portfolio/photo.jpg' %}" class="img-fluid"></p>
    </div>
  </div>
</div>





{% endblock %}

